@import 'fonts.scss';

:root {
    --c-font-primary: 'Inter', sans-serif;
    --c-font-secondary: 'Gilroy', sans-serif;

    --c-color-neutral-low-darkest: #222432;
    --c-color-neutral-low-dark: #444654;
    --c-color-neutral-low-medium: #636574;
    --c-color-neutral-low-light: #777989;
    --c-color-neutral-low-lightest: #a1a2b3;
    --c-color-neutral-high-darkest: #bfc1d2;
    --c-color-neutral-high-dark: #e2e4f5;
    --c-color-neutral-high-medium: #eef0fe;
    --c-color-neutral-high-light: #f3f5ff;
    --c-color-neutral-high-lightest: #ffffff;

    --c-color-brand-one-dark: #03196C;
    --c-color-brand-one-main: #105AE1;
    --c-color-brand-one-light: #88C7FF;
    --c-color-brand-one-lightest: #CEE5FD;

    --c-color-brand-two-dark: #054E60;
    --c-color-brand-two-main: #1DC9AB;
    --c-color-brand-two-light: #ADE8DB;
    --c-color-brand-two-lightest: #DEF6F1;

    --c-color-brand-three-dark: #936700;
    --c-color-brand-three-main: #FFC500;
    --c-color-brand-three-light: #FEE282;
    --c-color-brand-three-lightest: #FFF8CC;

    --c-color-brand-four-dark: #C53900;
    --c-color-brand-four-main: #FF4B00;
    --c-color-brand-four-light: #FFD2A9;
    --c-color-brand-four-lightest: #FFEBD3;

    --c-color-feedback-info-darkest: #003A93;
    --c-color-feedback-info-medium: #008FFF;
    --c-color-feedback-info-light: #3FB5FF;
    --c-color-feedback-info-lightest: #B8DCFF;

    --c-color-feedback-success-darkest: #00575C;
    --c-color-feedback-success-medium: #009F7A;
    --c-color-feedback-success-light: #31C594;
    --c-color-feedback-success-lightest: #ADE8DB;

    --c-color-feedback-error-darkest: #930B2F;
    --c-color-feedback-error-medium: #FF2525;
    --c-color-feedback-error-light: #FF927C;
    --c-color-feedback-error-lightest: #FFE2D3;

    --c-color-feedback-warning-darkest: #936700;
    --c-color-feedback-warning-medium: #FFC500;
    --c-color-feedback-warning-light: #FEE282;
    --c-color-feedback-warning-lightest: #FFF8CC;

  }