
@import './../../packages/scss/app.scss';

.button{
  $self: &;
  appearance: none;
  outline: 0;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 9999em;
  width: auto;
  font-family: var(--font-secondary);
  font-weight:700;
  border: 2px solid;
  &--md{
    height:48px;
    padding:0 32px;
    font-size: 16px;
    line-height:24px;
    svg{
      width:24px;
      height:24px;
    }
  }
  &--sm{
    height:40px;
    padding:0 24px;
    font-size:14px;
    line-height:20px;
    svg{
      width:20px;
      height:20px;
    }
  }
  &--xs{
    height:32px;
    padding:0 12px;
    font-size:12px;
    line-height:18px;
    svg{
      width:16px;
      height:16px;
    }
  }

  &--block{
    width:100%;
  }

  &--primary{
    border-color: transparent;
    &#{$self}--red{
      color: white;
      background: var(--c-color-brand-four-dark);    
      &:disabled {
        background: var(--c-color-neutral-high-dark);
        color: var(--c-color-neutral-low-light);
      }
    }
    &#{$self}--white{
      color:var(--c-color-brand-one-main);
      background: var(--c-color-neutral-high-lightest);
      &:disabled {
        opacity:0.4;
      }
    }
  }

  &--secondary{
    background: transparent;
    &#{$self}--red{
      border-color: var(--c-color-brand-one-main);
      color: var(--c-color-brand-one-main);
      &:disabled {
        border-color: var(--c-color-neutral-low-lightest);
        color: var(--c-color-neutral-low-lightest);
      }
    }

    &#{$self}--white{
      border-color: var(--c-color-neutral-high-lightest);
      color: var(--c-color-neutral-high-lightest);
      &:disabled {
        opacity:0.4;
      }
    }
    
  }

  &--ghost{
    border-color:transparent;
    background: transparent;
    &#{$self}--red{
      color: var(--c-color-brand-one-main);
      &:disabled {
        color: var(--c-color-neutral-low-lightest);
      }
    }

    &#{$self}--white{
      color: var(--c-color-neutral-high-lightest);
      &:disabled {
        opacity:0.4;
      }
    }
  }

  &--only-icon{
    padding:0;
    width:48px;
    height:48px;
    &#{$self}--sm{
      width:40px;
      height:40px;
    }
    &#{$self}--xs{
      width:32px;
      height:32px;
    }
  }

  svg+span,
  span+svg{
    margin-left:8px;
  }

  &:disabled{
    pointer-events: none;
    cursor: default;
  }
}
